:root {
    --bg-color: #ffffff;
    --text-color: #111827;
    --box-bg: #e5e7eb;
}

body.dark {
    --bg-color: #0f172a;
    --text-color: #ffffff;
    --box-bg: #1e293b;
}

/* =======================
   GLOBAL
======================= */

body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center;
    transition: 0.3s ease;
}

header {
    padding: 40px;
    background-color: var(--box-bg);
    transition: 0.3s ease;
}

section {
    margin: 30px;
    padding: 20px;
    background-color: var(--box-bg);
    border-radius: 10px;
    transition: 0.3s ease;
}

ul {
    list-style: none;
    padding: 0;
}

footer {
    margin-top: 40px;
    padding: 20px;
    background-color: var(--box-bg);
    transition: 0.3s ease;
}
#themeToggle {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: var(--box-bg);
    color: var(--text-color);
    border: none;
    font-size: 20px;
    padding: 10px 12px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s ease;
}

#themeToggle:hover {
    transform: scale(1.1);
}
